

.scroller {
    max-width: 100vw;
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scroller__inner img{
    width: 300px;
    height: 300px;
  }
  
  .scroller[data-animated="true"] {
    /* overflow: hidden; */
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  /* general styles */
  
  :root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
  }
 
  .tag-list {
    margin: 12px 12px;
    margin-top: 10px;
    padding-inline: 0;
    list-style: none;
  }
  .tag-list li {
    transition: transform  0.3s;
    padding: 1rem;
    gap: 1rem;
    background: var(--scroll-boxes);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }
  
  
  .tag-list li:hover{

    transform: scale(1.1);
    
  }
  /* for testing purposed to ensure the animation lined up correctly */
  .test {
    background: red !important;
  }
  

  .mover2{
    margin-top: 10px;
    margin-bottom: 30px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    width: 100vw;
    height: 100vh;
  }
  .mover{
    margin-top: 10px;
    margin-bottom: 30px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    width: 100vw;
    height: 100vh;
  }


  /* titlte styling */

  
.titles{
    margin: 12px 12px;
}


.title-phara{
    margin: 12px 30px;
    margin-bottom: 50px;
    margin-right: 40px;
}


p{
    margin-top: 112px;
}