.section{
  padding: 2rem;
  height: 90vh;
  overflow-x: auto;
}

.hero-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem 0.5rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.765);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 88%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
}
.card:hover{
  background-color: gray;
  color:white;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content {
  font-weight: bold;
}

.connect {
  display: flex;
  gap: 5px;
}

.icnos img {
  height: 30px;
}

blockquote {
  font-style: italic;
  font-weight: bold;
}

.avatar img {
  max-height: 200px;
  border-radius: 10px;
}

.avatar img:hover{
  transition: all 0.6s;
  transform: scale(1.1);
  cursor: pointer;
}

.toggle_button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#result{
  padding:0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#result .card{
  width:15rem;
  height: 30rem;
  margin: 1rem;
}

#search{
  margin:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form input{
  border:white;
  font-size:1rem;
  font-weight: 700;
  background-color: white;
  border-radius:20px;
  padding:0.3rem 0.9rem;
}

#form button{
  padding:0.3rem 0.9rem;
  border: none;
  border-radius:20px;
  font-size:1rem;
  font-weight: 700;
}

.not-found{
  background-color: #ccc;
  border-radius: 5px ;
  color: black;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
}
@media (max-width: 1800px) {
  .hero-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .hero-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
  }

  .card {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .hero-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero-section {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    /* Full-width columns for small screens */
  }

  .card {
    width: 100%;
  }

  .toggle_button {
    display: flex;
  }

  .wrapper ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar li {
    padding: 20px;
  }

  .links.active {
    display: flex;
  }
}