.section {
  padding: 2rem;
  height: 90vh;
  overflow-x: auto;
}

.hero-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem 0.5rem;
  margin-bottom: 2rem;
  height: auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.765);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 88%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.765);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content {
  font-weight: bold;
}

.connect {
  display: flex;
  gap: 5px;
}

.icnos img {
  height: 30px;
}

blockquote {
  font-style: italic;
  font-weight: bold;
}

.avatar img {
  max-height: 200px;
  border-radius: 10px;
}

.avatar img:hover {
  transition: all 0.6s;
  transform: scale(1.1);
  cursor: pointer;
}

.toggle_button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#result {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#result .card {
  width: 15rem;
  height: 30rem;
  margin: 1rem;
}

#search {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form input {
  border: white;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border-radius: 20px;
  padding: 0.3rem 0.9rem;
}

#form button {
  padding: 0.3rem 0.9rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
}

.not-found {
  background-color: #ccc;
  border-radius: 5px;
  color: black;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
}

/* Pagination CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.card {
  position: relative;
  background: #fff;
  max-width: 325px;
  width: 325px;
  height: auto;
  margin: 25px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  max-height: 200px;
}

.card-image img {
  max-width: 100%;
  height: auto;
}

.card-info {
  position: relative;
  color: #222;
  padding: 10px 20px 20px;
}

.card-info h3 {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 5px;
}

.card-info p {
  font-size: 1em;
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 45px;
}

.previous-page,
.next-page {
  background: #0AB1CE;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 45px;
  border-radius: 45px;
  cursor: pointer;
}

.active {
  background: #0AB1CE;
}

.disable {
  background: #ccc;
}


@media (max-width: 1800px) {
  .hero-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));

  }

  .card {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .hero-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));

  }

  .card {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .hero-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));

  }

  .card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero-section {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    /* Full-width columns for small screens */
  }

  .card {
    width: 100%;
  }

  .toggle_button {
    display: flex;
  }

  .wrapper ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar li {
    padding: 20px;
  }

  .links.active {
    display: flex;
  }
}


body::-webkit-scrollbar {
  display: none;
}

footer {
  background-image: url(./img/bgfooter.jpg);

  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: x-large;
  position: relative;


}

footer>p {
  color: #0b0a0a;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#gitlink {
  color: #0b0a0a;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#gitlink:hover {
  color: chocolate;

}