* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url(./img/academic.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
  background-position: 0% 25% !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.62);
  /* height: 100vh; */
}
.nav-bar {
  margin: 2rem auto;
  width: 60%;
  max-width: 1200px;
}
.nav-bar > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    text-decoration: underline;
 }
/* Dropdown Button */
.dropbtn {
  all: unset;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  /* display: inline-block; */
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.hero-section{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section img {
    height: 250px;
}